.DS_Store
.idea
.ipynb_checkpoints/
.vscode
__pycache__/
*.bin
*.pkl
*.pt
*.pyc
input.txt
env/
venv/
out*/
wandb/
wandb_plot.png
data/openwebtext/hf_source/
data/openwebtext/download_manifest.json
data/openwebtext/local_parquet_files.json
